
TestSet/k-spaceData/02.7

TestSet/k-spaceData/03.7

TestSet/k-spaceData/04.7

TestSet/k-spaceData/05.7

TestSet/k-spaceData/06.7

TestSet/k-spaceData/08.7

TestSet/k-spaceData/12.7

TestSet/k-spaceData/13.7

TestSet/k-spaceData/14.7
